---
import { slugify } from "@lib/utils";

const { title, class: className, ...props } = Astro.props;
---

<div class:list={[className]} {...props}>
    <a href={`#${slugify(title)}`}>
        <h2 class="text-primary text-5xl text-center md:text-left font-display uppercase">
            {title}
        </h2>
    </a>

    <div class="mt-14 font-cursive">
            
        <slot name="menu-image" />

        <slot />
    </div>

    <div class="divider my-12"></div>
</div>
