---
import Config from "@config/banner_config.json";
---
{
   Config.active && <div class="grid h-10 w-full font-cursive uppercase text-primary-content bg-primary place-items-center">{Config.message}</div>
}