---
import Separator from "@components/Separator.astro";
import FacebookIcon from "@components/icons/FacebookIcon.astro";
import InstagramIcon from "@components/icons/InstagramIcon.astro";
import Config from "@config/site_config.json";
---

<Separator />

<footer class="footer text-2xl font-cursive sm:grid-flow-row md:grid-cols-2 xl:grid-cols-4 xl:grid-flow-col p-10 bg-primary text-primary-content">
    <nav class="order-1">
        <header class="footer-title font-display opacity-100">Orari di Apertura</header>
        <div class="flex flex-col space-y-2">
            <div>Lunedì - Domenica</div>
            <div>11:00 - 23:00</div>
        </div>
    </nav>
    <nav class="order-2 md:order-3 xl:order-2">
        <header class="footer-title font-display opacity-100">Contatti</header>
        {
            Config.phone && 
            <div>
                <strong>Telefono:</strong> <a href="tel:+393481397971">+39 { Config.phone }</a>
            </div>
        }
        {
            Config.email &&
            <div>
                <strong>Email:</strong> <a href="mailto:info@saloonanatolia.com">{ Config.email }</a>
            </div>
        }
    </nav>
    <nav class="order-3 md:order-2 xl:order-3 xl:justify-self-center">
        <header class="footer-title font-display opacity-100">Social</header>
        <div class="grid grid-flow-col gap-4">
            {
                Config.instagram &&
                <a href={Config.instagram}
                    aria-label="Profilo Instagram"
                ><InstagramIcon class="h-12" /></a>
            }
            {
                Config.facebook &&
                <a href={Config.facebook}
                    aria-label="Profilo Facebook"
                ><FacebookIcon class="h-12 p-1 -mt-px" /></a>
            }        
        </div>
    </nav>
    <nav class="w-full order-4">
        <div class="relative group h-80 w-full rounded-3xl overflow-hidden border-4 border-base-content p-2 bg-base-100 cursor-pointer">
            <div class="absolute text-center inset-0 grid place-items-center bg-base-100 z-40 bg-opacity-70 group-hover:bg-opacity-0 transform group-hover:scale-0 rounded-3xl ease-out transition duration-500 delay-200">
                <div class="text-base-content">Viale Belforte, 93 <br> 21100 Varese (VA)</div>
            </div>
            <iframe class="group-hover:grayscale-0 transition h-full w-full object-cover rounded-2xl grayscale duration-500 delay-300"
                src={Config.maps_embed}
                width="600"
                height="450"
                style="border:0;"
                allowfullscreen="false"
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                title="Saloon Anatolia Ristorante Pizzeria Kebab Steakhouse Grill - Indicazioni stradali"
            >
            </iframe>
        </div>
    </nav>
</footer>
