---
import { Image } from "astro:assets";

import PinDropIcon from "@components/icons/PinDropIcon.astro";

import heroBG from "@assets/images/grill.jpg";
import bullHead from "@assets/images/bullhead.png";
import Separator from "@components/Separator.astro";
import TelephoneIcon from "@components/icons/TelephoneIcon.astro";
import JustEatIcon from "@components/icons/JustEatIcon.astro";
import DeliverooIcon from "@components/icons/DeliverooIcon.astro";
---

<div class="flex flex-col min-h-screen font-cursive">

    <h1 class="hidden">Ristorante Saloon Anatolia Pizzeria Kebab Steakhouse Grill A Varese</h1>

    <div class="hero overflow-hidden grid place-items-center bg-cover flex-1 bg-center" style={`background-image: url(${heroBG.src})`}>

        <div class="hero-overlay bg-opacity-80 bg-base-100"></div>

        <div class="hero-content container max-w-[90rem] text-center text-base-content w-full space-x-0 space-y-20 flex-col cursor-default pt-20">


            <div class="flex w-full xl:hidden">
                <div class="mx-auto">
                    <div class="font-display text-5xl sm:text-7xl max-w-md mx-auto text-primary neon-primary select-none"
                    >SALOON ANATOLIA</div>
                    <span class="neon-secondary">
                        <Image class="-mt-4 w-full sm:scale-110 mx-auto select-none"
                            src={bullHead}
                            alt="Saloon Anatolia"
                            draggable="false"
                        />
                    </span>
                </div>
            </div>
            <div class="xl:flex w-full hidden">
                <div class="mt-10 font-display text-7xl text-primary neon-primary w-1/3 select-none text text-right tracking-wide"
                >SALOON</div>
                <div class="mx-auto -mt-10 w-1/3">
                    <div class="font-display text-5xl text-primary neon-primary select-none"
                    >RISTORANTE</div>
                    <span class="neon-secondary">
                        <Image class="-mt-10 mx-auto scale-110 neon-secondary select-none"
                            src={bullHead}
                            alt="Saloon Anatolia"
                            draggable="false"
                        />
                    </span>
                </div>
                <div class="mt-10 font-display text-7xl text-primary neon-primary w-1/3 text-left select-none tracking-tight"
                >ANATOLIA</div>
            </div>

            <div class="hidden lg:flex justify-between max-w-3xl w-full items-center">
                <div class="badge badge-outline bg-base-100 border-4 text-3xl h-10 px-4 select-none"
                >PIZZERIA</div>
                <div class="badge badge-outline bg-base-100 border-4 text-3xl h-10 px-4 select-none"
                >KEBAB</div>
                <div class="badge badge-outline bg-base-100 border-4 text-3xl h-10 px-4 select-none"
                >STEAKHOUSE</div>
                <div class="badge badge-outline bg-base-100 border-4 text-3xl h-10 px-4 select-none"
                >GRILL</div>
            </div>

            <div class="">
                <a href="#menu" class="text-3xl btn btn-lg btn-primary mb-5">SCOPRI IL MENU</a>
            </div>
        
        </div>
    </div>
    
    <Separator />
    
    <div class="flex flex-col lg:flex-row items-center space-y-10 lg:space-y-0 2xl:space-x-20 py-12 bg-primary px-4 lg:space-x-5 xl:space-x-10 justify-center">
        <div class="order-1 w-full sm:w-2/3 lg:w-full 2xl:w-auto">
            <a href="#contacts" class="w-full overflow-hidden whitespace-nowrap btn btn-neutral duration-700 delay-100 btn-outline btn-lg px-4 h-16 text-3xl min-h-min bg-base-100 border-4"
            ><TelephoneIcon class="h-6"/>CHIAMA ORA</a>
        </div>
        <div class="order-3 lg:order-2 justify-center flex items-center text-primary-content lg:w-full 2xl:w-auto">
            <PinDropIcon class="fill-secondary h-12" />
            <a class="link link-hover" target="_blank" href="https://www.google.com/maps/dir/45.7764491,8.8981332/Ristorante+Saloon+Anatolia+-+Pizzeria,+Kebap,+Grill,+Viale+Belforte,+93,+21100+Varese+VA/@45.7936365,8.8314895,13z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x4786815907ddf9cf:0x678473ea1ae1ec01!2m2!1d8.8433553!2d45.8187842!3e0?entry=ttu">Varese, Viale Belforte 93</a>
        </div>
        <div class="order-2 lg:order-3 w-full sm:w-2/3 lg:w-full 2xl:w-auto">
            <button class="w-full overflow-hidden whitespace-nowrap btn btn-neutral duration-700 delay-100 btn-outline btn-lg px-4 h-16 text-3xl min-h-min bg-base-100 border-4"
                onclick="modalOrderOnline.showModal()"
            >ORDINA ONLINE</button>
            <dialog id="modalOrderOnline" class="modal">
                <div class="modal-box shadow-2xl border-4 rounded-3xl">
                    <h3 class="font-bold uppercase">Ordina con:</h3>
                    <div class="py-10 items-center justify-center flex flex-col space-y-4">
                        <a class="btn btn-ghost h-full py-4 px-4" href="https://deliveroo.it/it/menu/varese/varese/saloon-anatolia-risto-pizza-e-kebab"
                            aria-label="Ordina con Deliveroo"><DeliverooIcon class="w-64"/></a>
                        <a class="btn btn-ghost h-full py-4 px-4" href="https://www.justeat.it/restaurants-saloon-anatolia---pizzeria-kebab-grill-21100/menu"
                            aria-label="Ordina con JustEat"><JustEatIcon class="w-64" /></a>
                    </div>
                    <div class="modal-action">
                        <form method="dialog">
                            <button class="btn text-2xl">Chiudi</button>
                        </form>
                    </div>
                </div>
                <form method="dialog" class="modal-backdrop bg-base-100/80">
                    <button>close</button>
                </form>
            </dialog>
        </div>
    </div>

</div>
