---

---

<div class="container py-44 mx-auto px-4 sm:px-10">
    <h2 class="mb-32 text-5xl lg:text-center font-display text-primary uppercase"
        id="menu"
    >
        Menu
    </h2>

    <div class="flex w-full justify-center">
        <div class="tabs font-cursive justify-between w-full max-w-xl">
            <a class="text-2xl uppercase font-bold tab">Pizzeria</a>
            <a class="text-2xl uppercase font-bold tab tab-active">Kebab</a>
            <a class="text-2xl uppercase font-bold tab">Grill</a>
        </div>
    </div>

</div>
