---
import { Image } from "astro:assets";

import GoogleG from "@assets/images/google_g.png"; 
import Review from "@components/icons/Review.astro";
import reviewsData from "@data/reviews.json";
---

<section class=" justify-center items-center container mx-auto pt-20 pb-20 px-8">

    <div class="relative swiper-container w-full mx-auto overflow-hidden">
        <div class="swiper-wrapper pb-5">
            {
                reviewsData.reviews.map( review => (
                    <div class="swiper-slide w-full text-center text-2xl pb-10 my-auto">
                        <div class="flex flex-col w-full md:max-w-xl mx-auto space-y-5">
                            <div class="">
                                { review.content }
                            </div>
                            <div>
                                <a class="link font-cursive text-xl uppercase link-hover link-primary" href={ review.url } title="Leggi su Google">{ review.name }</a>
                            </div>    
                        </div>
                    </div>
                ))
            }
        </div>
        <div class="z-10 swiper-pagination"></div>
    </div>

    <div class="w-full mt-20 flex flex-col items-center space-y-20">
        <div class="flex">
            <div class="flex font-display text-primary mt-2">
                <Review class="hidden sm:block w-14 h-14 -mt-1 mr-2"/>
                <p class="text-5xl">{reviewsData.avg_rating}</p>
                <p class="text-5xl">/</p>
                <p class="text-5xl">5</p>  
            </div>
            <Image class="h-14 w-14 ml-4 mt-1" 
                src={GoogleG} 
                alt="Recensioni Google"  
            />
        </div>
        {
            reviewsData.reviews_link && 
                <div class="place-self-center">
                    <a class="font-cursive btn btn-lg btn-primary text-2xl"
                        href={reviewsData.reviews_link}
                        target="_blank"
                    >Dacci la tua opinione</a>
                </div>
        }
    </div>

</section>

<script>
    import Swiper from 'swiper';
    import { Navigation, Pagination, Autoplay } from 'swiper/modules';

    const swiper = new Swiper('.swiper-container', {
        modules: [Navigation, Pagination, Autoplay],
        direction: "horizontal",
        loop: true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: true
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>