---
import { Image } from "astro:assets";
import GoogleG from "@assets/images/google_g.png"; 

import { reviews } from "@data/reviews.json";
import Star from "@components/icons/Star.astro";
---

<section class=" justify-center items-center container mx-auto pt-20 pb-20 px-8">

    <div class="relative swiper-container w-full mx-auto overflow-hidden">
        <div class="swiper-wrapper pb-5">
            {
                reviews.map( review => (
                    <div class="swiper-slide w-full text-center text-2xl pb-10 my-auto">
                        <div class="flex flex-col w-full md:max-w-xl mx-auto space-y-5">
                            <div class="">
                                { review.content }
                            </div>
                            <div>
                                <a class="link font-cursive text-xl uppercase link-hover link-primary" href={ review.url } title="Leggi su Google">{ review.name }</a>
                            </div>    
                        </div>
                    </div>
                ))
            }
        </div>
        <div class="z-10 swiper-pagination"></div>
    </div>

    <div class="w-full mt-20 flex flex-col items-center space-y-20">
        <div class="flex">
            <Image class="h-20 w-20 mr-4" 
                src={GoogleG} 
                alt="Recensioni Google"  
            />
            <div class="flex font-display text-primary mt-2">
                <p class="text-6xl">4.6</p>
                <p class="text-6xl">/</p>
                <p class="text-6xl">5</p>  
                <Star class="hidden sm:block w-20 h-20 text-primary -mt-3 ml-4"/>
            </div>
        </div>
        <div class="place-self-center">
            <a class="font-cursive btn btn-lg btn-primary text-2xl"
                href="https://www.google.com/maps/place/Ristorante+Saloon+Anatolia+-+Pizzeria,+Kebap,+Grill/@45.8187842,8.8407804,17z/data=!3m1!5s0x47868090262fe8dd:0xa2dfaa116960f2a5!4m18!1m9!3m8!1s0x4786815907ddf9cf:0x678473ea1ae1ec01!2sRistorante+Saloon+Anatolia+-+Pizzeria,+Kebap,+Grill!8m2!3d45.8187842!4d8.8433553!9m1!1b1!16s%2Fg%2F11sbp6xwpy!3m7!1s0x4786815907ddf9cf:0x678473ea1ae1ec01!8m2!3d45.8187842!4d8.8433553!9m1!1b1!16s%2Fg%2F11sbp6xwpy?entry=ttu"
                target="_blank"
            >Dacci la tua opinione</a>
        </div>
    </div>

</section>

<script>
    import Swiper from 'swiper';
    import { Navigation, Pagination, Autoplay } from 'swiper/modules';

    const swiper = new Swiper('.swiper-container', {
        modules: [Navigation, Pagination, Autoplay],
        direction: "horizontal",
        loop: true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: true
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>