---
import '@assets/css/main.css';
import '@fontsource/germania-one';
import '@fontsource/rye';
import '@fontsource/palanquin';

import { SEO } from 'astro-seo';
import { ViewTransitions } from 'astro:transitions';

import entrata from '@assets/images/saloonanatolia.jpg';
import BackToTop from '@components/BackToTop.astro';
import Config from '@config/site_config.json';
import Footer from '@partials/Footer.astro';
import Banner from '@partials/Banner.astro';


---

<html lang="it" class="scroll-smooth" id="top">
    <head>
        <SEO
            charset="utf-8"
            title={Config.title}
            description={Config.description}
            openGraph={{
                basic: {
                    title: `${Config.long_title ?? Config.title} | ${Config.subtitle}`,
                    type: "website",
                    image: Astro.site?.origin + entrata.src
                }
            }}
            extend={{
                meta: [
                    { name:"viewport" , content: "width=device-width" },
                    { name:"generator" , content: Astro.generator },
                    { name:"msapplication-TileColor", content: "#000000" },
                    { name:"theme-color", content: "#000000" },
                    { name:"robots", content: "noindex,nofollow" } // staging mode
                ],
                link: [
                    { rel:"apple-touch-icon", sizes:"180x180", href:"/apple-touch-icon.png" },
                    { rel:"icon", type:"image/png", sizes:"32x32", href:"/favicon-32x32.png" },
                    { rel:"icon", type:"image/png", sizes:"16x16", href:"/favicon-16x16.png" },
                    { rel:"manifest", href:"/site.webmanifest" },
                    { rel:"mask-icon", href:"/safari-pinned-tab.svg", color:"#e52f1b" },
                    { rel:"sitemap", href:"/sitemap-index.xml" }
                ]
            }}
        />

        <script>
            import netlifyIdentity from "netlify-identity-widget";
            window.netlifyIdentity = netlifyIdentity;
            netlifyIdentity.init();
        </script>

        <ViewTransitions />
    </head>
    <body class="font-sans text-2xl text-base-content">
        <Banner />
        <slot />
        <BackToTop />
        <Footer />
    </body>
</html>
