---
import '@fontsource/germania-one';
import '@fontsource/rye';
import '@fontsource/palanquin';

import { ViewTransitions } from "astro:transitions";

import Footer from "@partials/Footer.astro";
import Banner from "@partials/Banner.astro";
---

<html lang="it" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Saloon Anatolia</title>

        <ViewTransitions />
    </head>
    <body class="font-sans text-2xl">
        <Banner />
        <slot />
        <Footer />
    </body>
</html>
